{% extends 'base.html' %}
{% block content %}


<h1>Welcome to Dog Collector</h1>

<p class="homeP">Here at Dog Collector, clients can save information on their beloved furry
  family member, such as if they've been fed and/or given a toy to play with,
  and include images of them. We all have busy lives and may not always have time
  to remember everything, which is why Dog Collector has created a space for you
  to save the information and continue with your day knowing you've taken care of
  what's essential.</p>

{% endblock %}